.cont {
    display: block;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

.cont .post {
    font-size: 15px;
    border-bottom: 1px solid black !important;
    padding-bottom: 0.5%;
}

.cont .post {
    position: relative;
    top: 13px;
    left: 12px;
    padding: 0 0;
}



