.b {
    display: block;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

.b .post {
    font-size: 15px;
    border-bottom: 1px solid black !important;
    padding-bottom: 0.5%;
}

.b .post span {
    background-color:red;
    position: relative;
    top: 13px;
    left: 12px;
    padding: 0 0;
}

.fh {
    padding-left: 1%;
}

